# Credenciales (IMPORTANTE!)
.env
.env.local
.env.development
.env.production

# Dependencies
node_modules/
package-lock.json
npm-debug.log*

# Logs
logs/
*.log

# Database
*.db
*.sqlite

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/


# Frontend (solo para testing local)
fe-yourdashboard/
fe-yourdashboard-frontend/
fe-yourdashboard